@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 60 56% 93%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 60 56% 93%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 120 61% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 20% 80%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 120 20% 85%;
    --muted-foreground: 224 7.1% 44.1%;
    --accent: 51 100% 50%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 80%;
    --input: 120 20% 85%;
    --ring: 120 61% 34%;
    --radius: 0.5rem;
    --chart-1: 120 61% 34%;
    --chart-2: 51 100% 50%;
    --chart-3: 0 84.2% 60.2%;
    --chart-4: 210 40% 96.1%;
    --chart-5: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 120 61% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 51 100% 60%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 120 61% 44%;
    --chart-1: 120 61% 44%;
    --chart-2: 51 100% 60%;
    --chart-3: 0 62.8% 30.6%;
    --chart-4: 217.2 32.6% 17.5%;
    --chart-5: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
